body {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.section-1 {
    background-color: #fadadd;
    padding: 10px 188px 20px 188px;
}

.section-2 {
    background-color: #fadadd;
    padding: 10px 188px 20px 188px;
}

h1 {
    margin: 0;
}

.logo {
    font-size: 24px;
    color: palevioletred;
    text-decoration: none;
}

ul {
    display: flex;
    font-size: 18px;
    gap: 20px;
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: palevioletred;
}